<!--
  Generated template for the EngineerFaultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>Faults</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top color="primary">
		<ion-searchbar showCancelButton autocomplete="on" color="danger" (ionInput)="filterFaults($event)" placeholder="Filter Faults"></ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content padding class="card-background-page">
	<ion-card *ngFor="let fault of faults">
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/icon/drop.png"/>
			</ion-avatar>
			<h2><b>{{ fault.fldfault_type }}</b></h2>
			<p>{{ fault.fldstatus }}</p>
			<button (click)="locate(fault)" ion-button round outline item-end>
				<ion-icon name="locate" icon-start> Locate</ion-icon>
			</button>
		</ion-item>
		<img src="{{ fault.fldpicture }}"/>
		<ion-card-content><p>{{ fault.fldcomment }}</p></ion-card-content>
		<ion-item *ngIf="fault.fldstatus==='Allocated'">
			<button color="secondary" (click)="report(fault)" ion-button round outline block>
				<ion-icon name="checkmark" icon-start> Report as Resolved</ion-icon>
			</button>
		</ion-item>
	</ion-card>
</ion-content>

